
h1 {color: white;}
.header {color: red;}
/*kropka to klasa*/
/*CTRL+/ - wstawia autoamtycznie komentarz*/
#uniq {font-size: 100px;}
/*to jest identyfikator*/
#header {
	color: blue; 
	font-size: 10px;
}